<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Tea Station || About</title>
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- custom css -->
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./about.css" />
  </head>

  <body>
    <section>
      <div class="section-center clearfix">
        <!-- about-img -->
        <article class="about-img">
          <div class="about-picture-container">
            <img
              src="../images/about-bcg.jpeg"
              alt="tea kettle"
              class="about-picture"
            />
          </div>
        </article>
        <!-- about-info -->
        <article class="about-info">
          <!-- section title -->
          <div class="section-title">
            <h3>about our</h3>
            <h2>tea station</h2>
          </div>
          <!-- end of section title -->
          <p class="about-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
            repellendus reprehenderit iure, vero nobis dolore!
          </p>
          <p class="about-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
            repellendus reprehenderit iure, vero nobis dolore!
          </p>
          <a href="about.html" class="btn">learn more</a>
        </article>
      </div>
    </section>
  </body>
</html>
