<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Tea Station || Skills</title>
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- custom css -->
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./footer.css" />
  </head>

  <body>
    <footer class="footer">
      <div class="section-center">
        <div class="social-icons">
          <!-- social icon -->
          <a href="#" class="social-icon">
            <i class="fab fa-facebook"></i>
          </a>
          <!-- end of social icon -->
          <!-- social icon -->
          <a href="#" class="social-icon">
            <i class="fab fa-twitter"></i>
          </a>
          <!-- end of social icon -->
          <!-- social icon -->
          <a href="#" class="social-icon">
            <i class="fab fa-instagram"></i>
          </a>
          <!-- end of social icon -->
        </div>
        <h4 class="footer-text">
          &copy;<span id="date"></span>
          <span class="company">tea station</span>
          all rights reserved
        </h4>
      </div>
    </footer>
    <script src="./footer.js"></script>
  </body>
</html>
