<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Tea Station || Skills</title>
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- custom css -->
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./navbar.css" />
  </head>

  <body>
    <span class="nav-btn" id="nav-btn">
      <i class="fas fa-bars"></i>
    </span>
    <nav class="navbar" id="navbar">
      <div class="navbar-header">
        <span class="nav-close" id="nav-close">
          <i class="fas fa-times"></i>
        </span>
      </div>
      <ul class="nav-items">
        <li><a href="../index.html" class="nav-link">home</a></li>
        <li><a href="./navbar.html" class="nav-link">navbar</a></li>
        <li><a href="./header.html" class="nav-link">header</a></li>
        <li><a href="./skills.html" class="nav-link">skills</a></li>
        <li><a href="./about.html" class="nav-link">about</a></li>
        <li>
          <a href="./products.html" class="nav-link">products</a>
        </li>
        <li>
          <a href="./services.html" class="nav-link">services</a>
        </li>
        <li>
          <a href="./contact.html" class="nav-link">contact</a>
        </li>
        <li><a href="./footer.html" class="nav-link">footer</a></li>
      </ul>
    </nav>

    <script src="./navbar.js"></script>
  </body>
</html>
