<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Tea Station || Products</title>
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- custom css -->
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./products.css" />
  </head>

  <body>
    <!-- products -->
    <section class="products">
      <div class="section-center clearfix">
        <!-- products info -->
        <article class="products-info">
          <!-- section title -->
          <div class="section-title">
            <h3>check out</h3>
            <h2>our products</h2>
          </div>
          <!-- end of section title -->
          <p class="product-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
            quidem, repellat praesentium esse ducimus odit alias nulla laborum
            doloremque voluptatum, a cum magnam iure accusamus.
          </p>
          <a href="products.html" class="btn">inventory</a>
        </article>
        <!-- products inventory -->
        <article class="products-inventory clearfix">
          <!-- single product -->
          <div class="product">
            <img
              src="../images/product-1.jpeg"
              alt="single product"
              class="product-img"
            />
            <h4 class="product-title">ginger peach tea</h4>
            <h4 class="product-price">$6.99</h4>
          </div>
          <!-- end of single product -->
          <!-- single product -->
          <div class="product">
            <img
              src="../images/product-2.jpeg"
              alt="single product"
              class="product-img"
            />
            <h4 class="product-title">fruit sangria</h4>
            <h4 class="product-price">$6.99</h4>
          </div>
          <!-- end of single product -->
          <!-- single product -->
          <div class="product">
            <img
              src="../images/product-3.jpeg"
              alt="single product"
              class="product-img"
            />
            <h4 class="product-title">white tea</h4>
            <h4 class="product-price">$6.99</h4>
          </div>
          <!-- end of single product -->
        </article>
      </div>
    </section>
    <!-- end of products -->
  </body>
</html>
