<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Tea Station || Skills</title>
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- custom css -->
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./services.css" />
  </head>

  <body>
    <section class="services">
      <!-- section title -->
      <div class="section-title services-title">
        <h3>explore</h3>
        <h2>our services</h2>
      </div>
      <!-- end of section title -->
      <div class="section-center clearfix">
        <!-- single card -->
        <article class="service-card">
          <!-- img container -->
          <div class="service-img-container">
            <!-- img -->
            <img
              src="../images/product-1.jpeg"
              class="service-img"
              alt="single service"
            />
            <!-- service icon -->
            <span class="service-icon">
              <i class="fas fa-mortar-pestle fa-fw"></i>
            </span>
          </div>
          <!-- service info -->
          <div class="service-info">
            <h4>custom recipes</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
              labore sed deserunt, blanditiis error doloremque.
            </p>
            <a href="products.html" class="btn service-btn">read more</a>
          </div>
        </article>
        <!--end of  single card -->
        <!-- single card -->
        <article class="service-card">
          <!-- img container -->
          <div class="service-img-container">
            <!-- img -->
            <img
              src="../images/product-2.jpeg"
              class="service-img"
              alt="single service"
            />
            <!-- service icon -->
            <span class="service-icon">
              <i class="fas fa-home fa-fw"></i>
            </span>
          </div>
          <!-- service info -->
          <div class="service-info">
            <h4>home delivery</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
              labore sed deserunt, blanditiis error doloremque.
            </p>
            <a href="products.html" class="btn service-btn">read more</a>
          </div>
        </article>
        <!--end of  single card -->
        <!-- single card -->
        <article class="service-card">
          <!-- img container -->
          <div class="service-img-container">
            <!-- img -->
            <img
              src="../images/product-3.jpeg"
              class="service-img"
              alt="single service"
            />
            <!-- service icon -->
            <span class="service-icon">
              <i class="fas fa-mug-hot fa-fw"></i>
            </span>
          </div>
          <!-- service info -->
          <div class="service-info">
            <h4>tea aging</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
              labore sed deserunt, blanditiis error doloremque.
            </p>
            <a href="products.html" class="btn service-btn">read more</a>
          </div>
        </article>
        <!--end of  single card -->
      </div>
    </section>
  </body>
</html>
