<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Tea Station || Skills</title>
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- custom css -->
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./skills.css" />
  </head>

  <body>
    <section class="skills clearfix">
      <!-- single skill -->
      <article class="skill">
        <span class="skill-icon">
          <i class="fas fa-mug-hot"></i>
        </span>
        <h4 class="skill-title">made in US</h4>
        <p class="skill-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis,
          rerum?
        </p>
      </article>
      <!-- end of single skill -->
      <!-- single skill -->
      <article class="skill">
        <span class="skill-icon">
          <i class="fas fa-glass-cheers"></i>
        </span>
        <h4 class="skill-title">relaxation</h4>
        <p class="skill-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis,
          rerum?
        </p>
      </article>
      <!-- end of single skill -->
      <!-- single skill -->
      <article class="skill">
        <span class="skill-icon">
          <i class="fas fa-bomb"></i>
        </span>
        <h4 class="skill-title">energy</h4>
        <p class="skill-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis,
          rerum?
        </p>
      </article>
      <!-- end of single skill -->
      <!-- single skill -->
      <article class="skill">
        <span class="skill-icon">
          <i class="fas fa-mortar-pestle"></i>
        </span>
        <h4 class="skill-title">family recipe</h4>
        <p class="skill-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis,
          rerum?
        </p>
      </article>
      <!-- end of single skill -->
    </section>
  </body>
</html>
